*.user
*.suo
*.cache
*.log
*.log.*
obj
bin
lib
ThirdParty/Castle/*.xml
ThirdParty/Castle/*.XML
ThirdParty/NHibernate/trunk
ThirdParty/NHibernate/2.0.x
ThirdParty/Rhino-Tools/rhino-tools
ThirdParty/Rhino-Tools/trunk
*~
*.swp
_ReSharper*
*.db
Build
